@media print {
  body * {
    visibility: hidden;
  }
  
  .print\:p-4 * {
    visibility: visible;
  }
  
  .print\:p-4 {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
  }

  .print\:hidden {
    display: none !important;
  }
}
